@font-face {
  font-family: 'WhiteRabbit';
  src: url('./fonts/WHITRABT.TTF');
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'WhiteRabbit', sans-serif;
}

body {
  min-height: 100%;
  background: url('./images/bg.jpg') no-repeat center center fixed;
  background-size: cover;
}

.App {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  min-height: 100vh;
  text-align: center;
  padding: 29px;
  box-shadow: 0px 8px 17px 2px rgba(255, 255, 255, 1);
}

h1 {
  margin: 12px 0 32px;
  font-size: 42px;
  color: hsl(0, 0%, 100%);
}

.greeting {
  margin-bottom: 12px;
  color: hsl(0, 0%, 100%);
}

.blinker {
  margin-bottom: 16px;
  color: hsl(0, 0%, 100%);
  animation: blinker 2.5s step-end infinite;
}

.logo {
  display: block;
  margin: 15px auto 0;
  width: 100px;
  height: 100px;
}

.todo-form {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 90%;
  margin: 25px auto 28px;
  color: hsl(0, 0%, 100%);
}

.todo-input {
  flex-grow: 1;
  min-width: 0;
  margin-right: 11px;
}

.todo-input,
.edit-input {
  padding: 12px 32px 12px 9px;
  border: 2px solid white;
  border-radius: 7px;
  outline: none;
  background: transparent;
  margin-right: 11px;
  font-size: 16px;
  color: white;
}

.edit-input {
  border: none;
}

.todo-button {
  display: inline-block;
  min-width: 50px;
  padding: 0.3rem 0.3rem;
  font-size: 1.2rem;
  font-weight: 500;
  color: hsl(0, 0%, 100%);
  background: hsl(0, 0%, 49%);
  box-sizing: border-box;
  border-bottom: 6px inset hsla(0, 0%, 0%, 0.5);
  border-left: 6px inset hsla(0, 0%, 0%, 0.5);
  border-right: 6px inset hsla(0, 0%, 100%, 0.5);
  border-top: 6px inset hsla(0, 0%, 100%, 0.5);
  cursor: pointer;
  flex-shrink: 0;
}

.todo-button:hover {
  background: #bcbcbc;
}

.todo-row {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 90%;
  margin: 6px auto;
  border-radius: 7px;
  background: linear-gradient(to right, #753a88, #cc2b5e);
}

.todo-row span {
  padding: 16px;
  font-size: 19px;
}

.icons button {
  padding: 5px;
  margin-right: 15px;
  font-size: 21px;
  border: none;
}

#edit {
  color: hsl(0, 0%, 100%);
  background-color: hsl(51, 100%, 50%);
  cursor: pointer;
}

#complete {
  color: hsl(0, 0%, 100%);
  background-color: hsl(120, 100%, 25%);
  cursor: pointer;
}

#delete {
  color: hsl(0, 0%, 100%);
  background-color: hsl(348, 83%, 47%);
  cursor: pointer;
}

p {
  margin-top: auto;
  width: 100%;
  padding-bottom: 8px;
  font-size: 11px;
  text-align: center;
  color: hsl(0, 0%, 100%);
}

p a {
  color: hsl(0, 0%, 100%);
  text-decoration: none;
}

p a:visited {
  color: hsl(0, 0%, 100%);
}

.edit-submit {
  padding: 4px;
  margin-right: 13px;
  font-size: 16px;
  border: none;
}

@keyframes blinker {
  50% {
    opacity: 0;
  }
}

@media (min-width: 1024px) {
  .todo-form {
    width: 33%;
  }

  .todo-row {
    width: 33%;
  }
}
